##### ë¦¬ëˆ…ìŠ¤ ì¤€ë¹„
ë°ì´í„°ë¥¼ ì¤€ë¹„í•˜ì!

ìš°ì„  í„°ë¯¸ë„ì„ ì—´ì–´ ë‹¤ìŒê³¼ ê°™ì´ ì‘ì—… ë””ë ‰í† ë¦¬ë¥¼ êµ¬ì„±í•˜ê³  ë°ì´í„°ë¥¼ ë‹¤ìš´ë¡œë“œë°›ì•„ ì£¼ì„¸ìš”.
'$ mkdir -p ~/aiffel/data_preprocess/data
'$ wget https://aiffelstaticprd.blob.core.windows.net/media/documents/trade.csv
'$ mv trade.csv ~/aiffel/data_preprocess/data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
print("ğŸ‘½ Hello.")

ğŸ‘½ Hello.

In [2]:
import os

csv_file_path = os.getenv('HOME')+'/aiffel/data_preprocess/data/trade.csv'
trade = pd.read_csv(csv_file_path) 
trade.head()

          ê¸°ê°„ êµ­ê°€ëª…      ìˆ˜ì¶œê±´ìˆ˜        ìˆ˜ì¶œê¸ˆì•¡      ìˆ˜ì…ê±´ìˆ˜       ìˆ˜ì…ê¸ˆì•¡       ë¬´ì—­ìˆ˜ì§€  ê¸°íƒ€ì‚¬í•­
0  2015ë…„ 01ì›”  ì¤‘êµ­  116932.0  12083947.0  334522.0  8143271.0  3940676.0   NaN
1  2015ë…„ 01ì›”  ë¯¸êµ­   65888.0   5561545.0  509564.0  3625062.0  1936484.0   NaN
2  2015ë…„ 01ì›”  ì¼ë³¸   54017.0   2251307.0   82480.0  3827247.0 -1575940.0   NaN
3  2015ë…„ 02ì›”  ì¤‘êµ­   86228.0   9927642.0  209100.0  6980874.0  2946768.0   NaN
4  2015ë…„ 02ì›”  ë¯¸êµ­   60225.0   5021264.0  428678.0  2998216.0  2023048.0   NaN

<í•™ìŠµëª©í‘œ>

    ì¤‘ë³µëœ ë°ì´í„°ë¥¼ ì°¾ì•„ ì œê±°í•  ìˆ˜ ìˆê³ , ê²°ì¸¡ì¹˜(missing data)ë¥¼ ì œê±°í•˜ê±°ë‚˜ ì±„ì›Œ ë„£ì„ ìˆ˜ ìˆë‹¤.
    ë°ì´í„°ë¥¼ ì •ê·œí™”ì‹œí‚¬ ìˆ˜ ìˆë‹¤.
    ì´ìƒì¹˜(outlier)ë¥¼ ì°¾ê³ , ì´ë¥¼ ì²˜ë¦¬í•  ìˆ˜ ìˆë‹¤.
    ë²”ì£¼í˜• ë°ì´í„°ë¥¼ ì›-í•« ì¸ì½”ë”©í•  ìˆ˜ ìˆë‹¤.
    ì—°ì†ì ì¸ ë°ì´í„°ë¥¼ êµ¬ê°„ìœ¼ë¡œ ë‚˜ëˆ  ë²”ì£¼í˜• ë°ì´í„°ë¡œ ë³€í™˜í•  ìˆ˜ ìˆë‹¤.

<ë°°ìš¸ ë‚´ìš©>

    ê²°ì¸¡ì¹˜(Missing Data)
    ì¤‘ë³µëœ ë°ì´í„°
    ì´ìƒì¹˜(Outlier)
    ì •ê·œí™”(Normalization)
    ì›-í•« ì¸ì½”ë”©(One-Hot Encoding)
    binning

# 14-2. ê²°ì¸¡ì¹˜ missing data

In [5]:
import os

csv_file_path = os.getenv('HOME')+'/aiffel/data_preprocess/data/trade.csv'
trade = pd.read_csv(csv_file_path) 
trade.head()

          ê¸°ê°„ êµ­ê°€ëª…      ìˆ˜ì¶œê±´ìˆ˜        ìˆ˜ì¶œê¸ˆì•¡      ìˆ˜ì…ê±´ìˆ˜       ìˆ˜ì…ê¸ˆì•¡       ë¬´ì—­ìˆ˜ì§€  ê¸°íƒ€ì‚¬í•­
0  2015ë…„ 01ì›”  ì¤‘êµ­  116932.0  12083947.0  334522.0  8143271.0  3940676.0   NaN
1  2015ë…„ 01ì›”  ë¯¸êµ­   65888.0   5561545.0  509564.0  3625062.0  1936484.0   NaN
2  2015ë…„ 01ì›”  ì¼ë³¸   54017.0   2251307.0   82480.0  3827247.0 -1575940.0   NaN
3  2015ë…„ 02ì›”  ì¤‘êµ­   86228.0   9927642.0  209100.0  6980874.0  2946768.0   NaN
4  2015ë…„ 02ì›”  ë¯¸êµ­   60225.0   5021264.0  428678.0  2998216.0  2023048.0   NaN

In [3]:
print('ì „ì²´ ë°ì´í„° ê±´ìˆ˜:', len(trade))

ì „ì²´ ë°ì´í„° ê±´ìˆ˜: 199

In [10]:
##ì¹¼ëŸ¼ëª… í™•ì¸í•˜ëŠ” ë°©ë²•
trade.dataframe(ë²•

AttributeError: 'DataFrame' object has no attribute 'dataframe'

In [11]:
trade.count()

ê¸°ê°„      199
êµ­ê°€ëª…     199
ìˆ˜ì¶œê±´ìˆ˜    196
ìˆ˜ì¶œê¸ˆì•¡    195
ìˆ˜ì…ê±´ìˆ˜    196
ìˆ˜ì…ê¸ˆì•¡    196
ë¬´ì—­ìˆ˜ì§€    195
ê¸°íƒ€ì‚¬í•­      0
dtype: int64

In [4]:
#ì»¬ì „ì²´ ë°ì´í„°ê±´ìˆ˜ì—ì„œ ê° ì»¬ëŸ¼ë³„ ê°’ì´ ìˆëŠ” ë°ì´í„° ìˆ˜ ë¹¼ê¸°
print('ì»¬ëŸ¼ë³„ ê²°ì¸¡ì¹˜ ê°œìˆ˜')
len(trade) - trade.count()

ì»¬ëŸ¼ë³„ ê²°ì¸¡ì¹˜ ê°œìˆ˜

ê¸°ê°„        0
êµ­ê°€ëª…       0
ìˆ˜ì¶œê±´ìˆ˜      3
ìˆ˜ì¶œê¸ˆì•¡      4
ìˆ˜ì…ê±´ìˆ˜      3
ìˆ˜ì…ê¸ˆì•¡      3
ë¬´ì—­ìˆ˜ì§€      4
ê¸°íƒ€ì‚¬í•­    199
dtype: int64

In [12]:
#ê¸°íƒ€ì‚¬í•­ì‚­ì œ == ì „ë¶€ê²°ì¸¡ì¹˜ë¼ì„œ
trade = trade.drop('ê¸°íƒ€ì‚¬í•­', axis=1)
trade.head()

          ê¸°ê°„ êµ­ê°€ëª…      ìˆ˜ì¶œê±´ìˆ˜        ìˆ˜ì¶œê¸ˆì•¡      ìˆ˜ì…ê±´ìˆ˜       ìˆ˜ì…ê¸ˆì•¡       ë¬´ì—­ìˆ˜ì§€
0  2015ë…„ 01ì›”  ì¤‘êµ­  116932.0  12083947.0  334522.0  8143271.0  3940676.0
1  2015ë…„ 01ì›”  ë¯¸êµ­   65888.0   5561545.0  509564.0  3625062.0  1936484.0
2  2015ë…„ 01ì›”  ì¼ë³¸   54017.0   2251307.0   82480.0  3827247.0 -1575940.0
3  2015ë…„ 02ì›”  ì¤‘êµ­   86228.0   9927642.0  209100.0  6980874.0  2946768.0
4  2015ë…„ 02ì›”  ë¯¸êµ­   60225.0   5021264.0  428678.0  2998216.0  2023048.0

In [14]:
trade.isnull()

        ê¸°ê°„    êµ­ê°€ëª…   ìˆ˜ì¶œê±´ìˆ˜   ìˆ˜ì¶œê¸ˆì•¡   ìˆ˜ì…ê±´ìˆ˜   ìˆ˜ì…ê¸ˆì•¡   ë¬´ì—­ìˆ˜ì§€
0    False  False  False  False  False  False  False
1    False  False  False  False  False  False  False
2    False  False  False  False  False  False  False
3    False  False  False  False  False  False  False
4    False  False  False  False  False  False  False
..     ...    ...    ...    ...    ...    ...    ...
194  False  False  False  False  False  False  False
195  False  False  False  False  False  False  False
196  False  False   True   True   True   True   True
197  False  False   True   True   True   True   True
198  False  False   True   True   True   True   True

[199 rows x 7 columns]

In [15]:
trade.isnull().any(axis=1)

0      False
1      False
2      False
3      False
4      False
       ...
194    False
195    False
196     True
197     True
198     True
Length: 199, dtype: bool

In [16]:
#trade.isnull().any(axis=1)ì„ ë‹¤ì‹œ DataFrameì— ë„£ì–´ì£¼ë©´ ê°’ì´ Trueì¸ ë°ì´í„°ë§Œ ì¶”ì¶œ
trade[trade.isnull().any(axis=1)]

            ê¸°ê°„ êµ­ê°€ëª…      ìˆ˜ì¶œê±´ìˆ˜  ìˆ˜ì¶œê¸ˆì•¡       ìˆ˜ì…ê±´ìˆ˜       ìˆ˜ì…ê¸ˆì•¡  ë¬´ì—­ìˆ˜ì§€
191  2020ë…„ 04ì›”  ë¯¸êµ­  105360.0   NaN  1141118.0  5038739.0   NaN
196  2020ë…„ 06ì›”  ì¤‘êµ­       NaN   NaN        NaN        NaN   NaN
197  2020ë…„ 06ì›”  ë¯¸êµ­       NaN   NaN        NaN        NaN   NaN
198  2020ë…„ 06ì›”  ì¼ë³¸       NaN   NaN        NaN        NaN   NaN